.achievements .content h1 {
    max-width: 589px;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
}

.achievements .counts {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.achievements .counts .count {
    padding: 0 30px;
    border-right: 1px solid #ffffff42;
    /* opacity: .6; */
}

.achievements .counts .count:last-child {
    border: none;
}

.achievements .counts .counter-text {
    color: var(--gradient-purple-1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 190%;
}

@media screen and (max-width: 520px) {
    .achievements .counts {
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }

    .achievements .counts .count{
        border: none;
    }

    .achievements .content h1 {
        padding-bottom: 15px;
    }
}